<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	
</script>
<script type="text/javascript">
	$(document).ready(
			function() {
				$("#locales").change(
						function() {
							var selectedOption = $('#locales').val();
							if (selectedOption != '') {
								window.location.replace('login?lang='
										+ selectedOption);
							}
						});
			});
</script>
</head>
<body>
	<span th:text="#{lang.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="pl" th:text="#{lang.pl}"></option>
	</select>

	<table border="0">
		<tr th:each="person : ${persons}">
			<td th:text="${person.id}" style="padding: 5px"></td>
			<td th:text="${person.name}" style="padding: 5px"></td>
			<td>
				<table border="0">
					<tr th:each="address : ${person.addresses}">
						<td th:text="${address.country}" style="padding: 5px"></td>
						<td th:text="${address.postalCode}" style="padding: 5px"></td>
						<td th:text="${address.city}" style="padding: 5px"></td>
						<td th:text="${address.street}" style="padding: 5px"></td>
						<td th:text="${address.houseNo}" style="padding: 5px"></td>
					</tr>
				</table>
			</td>
			<td>
				<form th:action="@{/person/} + ${person.id}" th:method="get"
					th:object="${person}">
					<button name="edit" th:text="#{button.edit}"></button>
				</form>
				<form th:action="@{/person?id=} + ${person.id}" th:method="delete"
					th:object="${person}">
					<button name="remove" th:text="#{button.remove}"></button>
				</form>
			</td>
		</tr>
	</table>

	<h2 th:text="#{header.createPerson}"></h2>
	<form th:action="@{/person}" th:object="${newPerson}" method="post">
		<div>
			<label th:text="#{user.username}"></label>
			<input type="text" name="name" />
		</div>
		<div>
			<input type="submit" th:value="#{button.create}" />
		</div>
	</form>

	<form th:action="@{/logout}" method="post">
		<input type="submit" th:value="#{button.signout}" />
	</form>
</body>
</html>