<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
</head>
<body>
	<table border="0">
		<tr th:each="person : ${persons}">
			<td th:text="${person.id}" style="padding: 5px"></td>
			<td th:text="${person.name}" style="padding: 5px"></td>
			<td>
				<table border="0">
					<tr th:each="address : ${person.addresses}">
						<td th:text="${address.country}" style="padding: 5px"></td>
						<td th:text="${address.postalCode}" style="padding: 5px"></td>
						<td th:text="${address.city}" style="padding: 5px"></td>
						<td th:text="${address.street}" style="padding: 5px"></td>
						<td th:text="${address.houseNo}" style="padding: 5px"></td>
					</tr>
				</table>
			</td>
			<td>
				<form th:action="@{/person/} + ${person.id}" th:method="get"
					th:object="${person}">
					<button name="edit">Edit</button>
				</form>
				<form th:action="@{/person?id=} + ${person.id}" th:method="delete"
					th:object="${person}">
					<button name="remove">Remove</button>
				</form>
			</td>
		</tr>
	</table>

	<h2>Create person</h2>
	<form th:action="@{/person}" th:object="${newPerson}" method="post">
		<div>
			<label> Username : <input type="text" name="name" />
			</label>
		</div>
		<div>
			<input type="submit" value="Create" />
		</div>
	</form>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>